body {
  background-color: rgb(0, 0, 0);
  font-family: GraublauWeb, Helvetica, Verdana, Sans-Serif;
  color: rgb(255, 255, 255);
}

p {
  font-family: GraublauWeb, Helvetica, Verdana, Sans-Serif;
  margin-bottom: 1em;
}

.container {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 443px;
}

.element {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.text {
  font-family: GraublauWeb, Helvetica, Verdana, Sans-Serif;
  position: relative;
  float: left;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  position: relative;
  float: left;
  z-index: 8;
  width: 16%;
  height: 36px;
  margin: -85px 0 0 58.5%;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: GraublauWeb, Helvetica, Verdana, Sans-Serif;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  width: 33%;
  height: 36px;
  margin: -85px 0 0 25.5%;
  padding: 0 10px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: GraublauWeb, Helvetica, Verdana, Sans-Serif;
  color: rgb(255, 255, 255);
}

.element-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 196px;
}

.element-2 {
  position: relative;
  float: left;
  z-index: 2;
  height: 247px;
  margin-top: -247px;
  background-image: url('../images/Blot%20logo%20glitch-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-3 {
  position: fixed;
  top: 443px;
  left: 0;
  z-index: 4;
  height: 189px;
}

.element-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  height: 91px;
  margin-top: 28px;
}

.text-1 {
  clear: both;
  z-index: 3;
  width: 49%;
  min-height: 108px;
  margin: -407px 0 0 25.5%;
  font-family: AtlasTypewriterThin;
  font-weight: normal;
  line-height: 1.1;
  text-align: right;
}

.text-2 {
  font-family: GraublauWeb, Helvetica, Verdana, Sans-Serif;
  z-index: 5;
  width: 66%;
  min-height: 125px;
  margin: 36px 0 0 17%;
  font-weight: 400;
  text-align: center;
}

/*Add Webfont*/

@font-face {
    font-family: GraublauWeb;
    src: url("fonts/customfont.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("fonts/customfont2.otf") format("opentype");
}
