
#loader {
  -webkit-animation: load 0.8s linear infinite;
          animation: load 0.8s linear infinite;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  clip: rect(0, 80px, 80px, 40px); 
  height: 80px;
  width: 80px;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  opacity: 0.8;
  box-shadow: inset #333 0 0 0 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes load {
  to { 
    -webkit-transform: rotate(360deg); 
            transform: rotate(360deg)
  }
}
@keyframes load {
  to { 
    -webkit-transform: rotate(360deg); 
            transform: rotate(360deg)
  }
}

#replay {
  position: absolute;
  right: 0; top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  width: 40px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  line-height: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 25px;
  margin: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#replay:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.hidden{
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.container{
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;  
}

#Bowie {
  height: 100vh;
  width: auto;
  opacity: 0;
}   

.quote {
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-align: left;
  margin-top: 100px;
}

.quote a {
  color: #EC5439;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.right {
  text-align: right;
  font-size: 90%;
}

    .st0{fill:#283322;}
    .st1{fill:#132014;}
    .st2{fill:#1D2716;}
    .st3{fill:#192114;}
    .st4{fill:#3D3217;}
    .st5{fill:#13241A;}
    .st6{fill:#0F1E11;}
    .st7{fill:#112013;}
    .st8{fill:#202816;}
    .st9{fill:#101C10;}
    .st10{fill:#7A6127;}
    .st11{fill:#192718;}
    .st12{fill:#574015;}
    .st13{fill:#7C5529;}
    .st14{fill:#594B20;}
    .st15{fill:#0F1C13;}
    .st16{fill:#121E13;}
    .st17{fill:#2A2411;}
    .st18{fill:#162014;}
    .st19{fill:#252A17;}
    .st20{fill:#1B2412;}
    .st21{fill:#60431D;}
    .st22{fill:#605525;}
    .st23{fill:#373619;}
    .st24{fill:#D4AC88;}
    .st25{fill:#CCA26F;}
    .st26{fill:#C28863;}
    .st27{fill:#733517;}
    .st28{fill:#393018;}
    .st29{fill:#333814;}
    .st30{fill:#111E12;}
    .st31{fill:#2C2813;}
    .st32{fill:#1D2615;}
    .st33{fill:#D0AE7F;}
    .st34{fill:#E6AF89;}
    .st35{fill:#7A4218;}
    .st36{fill:#503514;}
    .st37{fill:#543112;}
    .st38{fill:#504E23;}
    .st39{fill:#7A4C22;}
    .st40{fill:#6A5529;}
    .st41{fill:#7F6A51;}
    .st42{fill:#4A3F19;}
    .st43{fill:#64501E;}
    .st44{fill:#966847;}
    .st45{fill:#825A26;}
    .st46{fill:#67471F;}
    .st47{fill:#896940;}
    .st48{fill:#4C3316;}
    .st49{fill:#393219;}
    .st50{fill:#765325;}
    .st51{fill:#3C431C;}
    .st52{fill:#182417;}
    .st53{fill:#292410;}
    .st54{fill:#3F361B;}
    .st55{fill:#553514;}
    .st56{fill:#85481D;}
    .st57{fill:#816140;}
    .st58{fill:#B79386;}
    .st59{fill:#5A3714;}
    .st60{fill:#CCA9BB;}
    .st61{fill:#C9A8BA;}
    .st62{fill:#D6A287;}
    .st63{fill:#F5BFB1;}
    .st64{fill:#D3B6C3;}
    .st65{fill:#C7A9B2;}
    .st66{fill:#A47256;}
    .st67{fill:#936239;}
    .st68{fill:#90633B;}
    .st69{fill:#A79494;}
    .st70{fill:#D19C9F;}
    .st71{fill:#1A2215;}
    .st72{fill:#1D2414;}
    .st73{fill:#111F11;}
    .st74{fill:#6A683E;}
    .st75{fill:#3C2E15;}
    .st76{fill:#623516;}
    .st77{fill:#3A3816;}
    .st78{fill:#A36727;}
    .st79{fill:#5C4F25;}
    .st80{fill:#463116;}
    .st81{fill:#43562B;}
    .st82{fill:#5A5127;}
    .st83{fill:#644415;}
    .st84{fill:#71532A;}
    .st85{fill:#514117;}
    .st86{fill:#604C21;}
    .st87{fill:#BE967A;}
    .st88{fill:#C58D7B;}
    .st89{fill:#8D6642;}
    .st90{fill:#152315;}
    .st91{fill:#CD998A;}
    .st92{fill:#CD9188;}
    .st93{fill:#D79C9D;}
    .st94{fill:#EEC2CB;}
    .st95{fill:#AE7A5D;}
    .st96{fill:#E4A09E;}
    .st97{fill:#CE978A;}
    .st98{fill:#141E11;}
    .st99{fill:#753611;}
    .st100{fill:#703815;}
    .st101{fill:#B2765B;}
    .st102{fill:#AF8166;}
    .st103{fill:#C7C3B8;}
    .st104{fill:#E5DEDB;}
    .st105{fill:#242313;}
    .st106{fill:#5E3815;}
    .st107{fill:#C77B69;}
    .st108{fill:#C8C3BB;}
    .st109{fill:#ECDDDC;}
    .st110{fill:#EADDDE;}
    .st111{fill:#BA7868;}
    .st112{fill:#D97A80;}
    .st113{fill:#DF97A5;}
    .st114{fill:#C28C76;}
    .st115{fill:#B18B6E;}
    .st116{fill:#B95F4D;}
    .st117{fill:#853C21;}
    .st118{fill:#F7CEDE;}
    .st119{fill:#EFB1B1;}
    .st120{fill:#E495B9;}
    .st121{fill:#F2C2D0;}
    .st122{fill:#F5AEA9;}
    .st123{fill:#D0927A;}
    .st124{fill:#D59F7B;}
    .st125{fill:#E69AB8;}
    .st126{fill:#8F4F24;}
    .st127{fill:#CB8675;}
    .st128{fill:#1D2214;}
    .st129{fill:#E09394;}
    .st130{fill:#ECA5A8;}
    .st131{fill:#E0A5A1;}
    .st132{fill:#132213;}
    .st133{fill:#252816;}
    .st134{fill:#D9A09F;}
    .st135{fill:#1D2613;}
    .st136{fill:#E69995;}
    .st137{fill:#E1A2C2;}
    .st138{fill:#D09B85;}
    .st139{fill:#E1CCC0;}
    .st140{fill:#D29E8C;}
    .st141{fill:#EEC2D6;}
    .st142{fill:#353B19;}
    .st143{fill:#F0C4C4;}
    .st144{fill:#EDBAB9;}
    .st145{fill:#FBDDEA;}
    .st146{fill:#FAD1E4;}
    .st147{fill:#E5D9D8;}
    .st148{fill:#323115;}
    .st149{fill:#C27584;}
    .st150{fill:#1E2116;}
    .st151{fill:#F5E1E4;}
    .st152{fill:#F4E4E7;}
    .st153{fill:#1B2219;}
    .st154{fill:#943E1F;}
    .st155{fill:#91341F;}
    .st156{fill:#D8A396;}
    .st157{fill:#D8A596;}
    .st158{fill:#B86C5A;}
    .st159{fill:#F5F0F6;}
    .st160{fill:#15280C;}
    .st161{fill:#CE9F8E;}
    .st162{fill:#C59382;}
    .st163{fill:#D4949F;}
    .st164{fill:#F8CCDA;}
    .st165{fill:#EFB0B2;}
    .st166{fill:#FAB3C1;}
    .st167{fill:#FACFE0;}
    .st168{fill:#F0D3D1;}
    .st169{fill:#E8CBC8;}
    .st170{fill:#C2502C;}
    .st171{fill:#192113;}
    .st172{fill:#4E3C18;}
    .st173{fill:#1E2716;}
    .st174{fill:#0C2905;}
    .st175{fill:#F0C6DA;}
    .st176{fill:#F3D1E2;}
    .st177{fill:#FAC1D1;}
    .st178{fill:#F7C5DB;}
    .st179{fill:#1C2F1A;}
    .st180{fill:#6E5630;}
    .st181{fill:#5AA8A1;}
    .st182{fill:#F5A6B0;}
    .st183{fill:#414615;}
    .st184{fill:#FBE3EC;}
    .st185{fill:#FADBE9;}
    .st186{fill:#D7AFB6;}
    .st187{fill:#D8AFB3;}
    .st188{fill:#C49D87;}
    .st189{fill:#ECD2D3;}
    .st190{fill:#FAB2D7;}
    .st191{fill:#093327;}
    .st192{fill:#D3B2AB;}
    .st193{fill:#111F16;}
    .st194{fill:#482E15;}
    .st195{fill:#624518;}
    .st196{fill:#F05B36;}
    .st197{fill:#F6C9DB;}
    .st198{fill:#F26C47;}
    .st199{fill:#ECA89A;}
    .st200{fill:#F1B7BA;}
    .st201{fill:#EEBBC8;}
    .st202{fill:#EEBFC3;}
    .st203{fill:#E8CFCE;}
    .st204{fill:#EFBEC7;}
    .st205{fill:#CF492A;}
    .st206{fill:#D194AC;}
    .st207{fill:#D893AC;}
    .st208{fill:#F15E38;}
    .st209{fill:#FBE7EE;}
    .st210{fill:#F8CFE3;}
    .st211{fill:#F8CEDC;}
    .st212{fill:#E3B4BE;}
    .st213{fill:#CEA09A;}
    .st214{fill:#E8B8C5;}
    .st215{fill:#EE9AA7;}
    .st216{fill:#FBCACC;}
    .st217{fill:#CA9495;}
    .st218{fill:#BC907F;}
    .st219{fill:#F3A3BD;}
    .st220{fill:#E592A0;}
    .st221{fill:#F0C4BF;}
    .st222{fill:#F5D3E3;}
    .st223{fill:#302814;}
    .st224{fill:#583B1C;}
    .st225{fill:#BE4522;}
    .st226{fill:#332612;}
    .st227{fill:#443017;}
    .st228{fill:#E2B3BD;}
    .st229{fill:#FEDCEA;}
    .st230{fill:#F9CFE1;}
    .st231{fill:#EBBCBD;}
    .st232{fill:#EBBDBB;}
    .st233{fill:#1D2317;}
    .st234{fill:#192615;}
    .st235{fill:#6C5350;}
    .st236{fill:#C57D72;}
    .st237{fill:#D3C0B0;}
    .st238{fill:#DDA49A;}
    .st239{fill:#F5BDC8;}
    .st240{fill:#ED884C;}
    .st241{fill:#705E62;}
    .st242{fill:#EFE1D2;}
    .st243{fill:#F5E7E8;}
    .st244{fill:#F5E6E9;}
    .st245{fill:#D896A9;}
    .st246{fill:#D4A097;}
    .st247{fill:#F7E7EA;}
    .st248{fill:#DFAEB8;}
    .st249{fill:#F2C0C9;}
    .st250{fill:#E0A199;}
    .st251{fill:#F2D3E2;}
    .st252{fill:#F78997;}
    .st253{fill:#81371D;}
    .st254{fill:#AC5031;}
    .st255{fill:#B97A3D;}
    .st256{fill:#8A5120;}
    .st257{fill:#EFC4CF;}
    .st258{fill:#9D685A;}
    .st259{fill:#B6757E;}
    .st260{fill:#E2B5B5;}
    .st261{fill:#DB7C78;}
    .st262{fill:#F5C7DD;}
    .st263{fill:#E88183;}
    .st264{fill:#F8D1E2;}
    .st265{fill:#D1B4BC;}
    .st266{fill:#DBB6C4;}
    .st267{fill:#EBA0BB;}
    .st268{fill:#A15138;}
    .st269{fill:#CC6866;}
    .st270{fill:#E3B8CC;}
    .st271{fill:#E9BCD3;}
    .st272{fill:#E1B7BB;}
    .st273{fill:#B87360;}
    .st274{fill:#E29E78;}
    .st275{fill:#EAB1BD;}
    .st276{fill:#E2BFC5;}
    .st277{fill:#E2B8BB;}
    .st278{fill:#CB876B;}
    .st279{fill:#F3CFE0;}
    .st280{fill:#5B3D19;}
    .st281{fill:#9E5223;}
    .st282{fill:#ECB8C6;}
    .st283{fill:#E9CAD1;}
    .st284{fill:#172616;}
    .st285{fill:#B66F66;}
    .st286{fill:#D57E87;}
    .st287{fill:#DF9997;}
    .st288{fill:#F3B2A4;}
    .st289{fill:#F2DACE;}
    .st290{fill:#E49889;}
    .st291{fill:#CCABA6;}
    .st292{fill:#FAD1E1;}
    .st293{fill:#F8C8D4;}
    .st294{fill:#C56A63;}
    .st295{fill:#F06550;}
    .st296{fill:#E3B4B5;}
    .st297{fill:#F56951;}
    .st298{fill:#CA9FAB;}
    .st299{fill:#E6BDD5;}
    .st300{fill:#A9948B;}
    .st301{fill:#978A7D;}
    .st302{fill:#CA9EA0;}
    .st303{fill:#E6C1C5;}
    .st304{fill:#F2C9D3;}
    .st305{fill:#F7D1DE;}
    .st306{fill:#EFBFCC;}
    .st307{fill:#CDA29F;}
    .st308{fill:#DBB3B4;}
    .st309{fill:#8A5840;}
    .st310{fill:#DB857D;}
    .st311{fill:#F7C4DC;}
    .st312{fill:#F06949;}
    .st313{fill:#F06648;}
    .st314{fill:#F4DBCF;}
    .st315{fill:#F3DAD6;}
    .st316{fill:#D0A6A4;}
    .st317{fill:#D9ADBD;}
    .st318{fill:#A5957F;}
    .st319{fill:#CD9791;}
    .st320{fill:#FBEBEA;}
    .st321{fill:#CB7C95;}
    .st322{fill:#C07E7E;}
    .st323{fill:#76471B;}
    .st324{fill:#DBDADD;}
    .st325{fill:#E75024;}
    .st326{fill:#5A280E;}
    .st327{fill:#3C1F11;}
    .st328{fill:#F8A2B5;}
    .st329{fill:#F27C90;}
    .st330{fill:#F25F40;}
    .st331{fill:#ED9CA8;}
    .st332{fill:#B96B5B;}
    .st333{fill:#F7A1B1;}
    .st334{fill:#F47C55;}
    .st335{fill:#F58084;}
    .st336{fill:#C87C75;}
    .st337{fill:#BC8175;}
    .st338{fill:#C0896F;}
    .st339{fill:#EFAAAC;}
    .st340{fill:#E4A49E;}
    .st341{fill:#101B10;}
    .st342{fill:#262514;}
    .st343{fill:#DF99B8;}
    .st344{fill:#C38794;}
    .st345{fill:#CAA0A6;}
    .st346{fill:#F8C8D0;}
    .st347{fill:#EEBFBA;}
    .st348{fill:#E49CB0;}
    .st349{fill:#F7D4E1;}
    .st350{fill:#F9D7E5;}
    .st351{fill:#FFF2FA;}
    .st352{fill:#F46E5A;}
    .st353{fill:#FFCFEF;}
    .st354{fill:#E8CBD9;}
    .st355{fill:#FFE1EF;}
    .st356{fill:#F3DDDE;}
    .st357{fill:#3C3B1E;}
    .st358{fill:#F67C82;}
    .st359{fill:#E4735E;}
    .st360{fill:#D9A3B3;}
    .st361{fill:#D195A4;}
    .st362{fill:#F27A55;}
    .st363{fill:#F4B9D7;}
    .st364{fill:#C37F98;}
    .st365{fill:#75410D;}
    .st366{fill:#C19590;}
    .st367{fill:#DBAFB4;}
    .st368{fill:#F9EAF1;}
    .st369{fill:#332613;}
    .st370{fill:#E593AA;}
    .st371{fill:#CC7389;}
    .st372{fill:#FEE4E9;}
    .st373{fill:#8D4E25;}
    .st374{fill:#E1DFD2;}
    .st375{fill:#E26342;}
    .st376{fill:#EEBDC5;}
    .st377{fill:#F1DBE7;}
    .st378{fill:#D995AE;}
    .st379{fill:#EEB4CA;}
    .st380{fill:#F4BDD3;}
    .st381{fill:#E1B9CC;}
    .st382{fill:#FAC9E1;}
    .st383{fill:#F5D4DF;}
    .st384{fill:#F7C6D6;}
    .st385{fill:#F26056;}
    .st386{fill:#F8BECE;}
    .st387{fill:#F6BCD6;}
    .st388{fill:#F9DCE7;}
    .st389{fill:#F4ABBB;}
    .st390{fill:#ED8096;}
    .st391{fill:#F5D1E1;}
    .st392{fill:#F7D7E4;}
    .st393{fill:#F5CBDC;}
    .st394{fill:#D5A1A5;}
    .st395{fill:#D29FAB;}
    .st396{fill:#85693E;}
    .st397{fill:#ECB8CD;}
    .st398{fill:#E6B7CD;}
    .st399{fill:#ECC0D3;}
    .st400{fill:#864F22;}
    .st401{fill:#674017;}
    .st402{fill:#E55D34;}
    .st403{fill:#EABBD4;}
    .st404{fill:#F6B8C8;}
    .st405{fill:#CB9C94;}
    .st406{fill:#F9DCE8;}
    .st407{fill:#F2CAD8;}
    .st408{fill:#A95230;}
    .st409{fill:#A05E2F;}
    .st410{fill:#EAB9C9;}
    .st411{fill:#E2AFB8;}
    .st412{fill:#E9BDC6;}
    .st413{fill:#F0A6AC;}
    .st414{fill:#122114;}
    .st415{fill:#F6C9D8;}
    .st416{fill:#F6C8D4;}
    .st417{fill:#9F4D1C;}
    .st418{fill:#E9B9CA;}
    .st419{fill:#FEE9F0;}
    .st420{fill:#E7D6CF;}
    .st421{fill:#F9C9DD;}
    .st422{fill:#F7F4FA;}
    .st423{fill:#C84826;}
    .st424{fill:#F1D9E6;}
    .st425{fill:#CF7D95;}
    .st426{fill:#884E24;}
    .st427{fill:#D68898;}
    .st428{fill:#EAA4A2;}
    .st429{fill:#D44D2C;}
    .st430{fill:#472208;}
    .st431{fill:#E1E5E3;}
    .st432{fill:#CBE3CB;}
    .st433{fill:#ECACB6;}
    .st434{fill:#F1C0D0;}
    .st435{fill:#F2BDD3;}
    .st436{fill:#F9C9DA;}
    .st437{fill:#F6E0DC;}
    .st438{fill:#F8C6CF;}
    .st439{fill:#A86076;}
    .st440{fill:#BE7C87;}
    .st441{fill:#EFBDCF;}
    .st442{fill:#F4D1DE;}
    .st443{fill:#F2ADBD;}
    .st444{fill:#FDD2E6;}
    .st445{fill:#FDE9F5;}
    .st446{fill:#F2B5C9;}
    .st447{fill:#FBDEEC;}
    .st448{fill:#162114;}
    .st449{fill:#E2ADBE;}
    .st450{fill:#EAB6C7;}
    .st451{fill:#F9C1C6;}
    .st452{fill:#F5B4B3;}
    .st453{fill:#D59EAA;}
    .st454{fill:#DFA7B3;}
    .st455{fill:#A97C77;}
    .st456{fill:#C58990;}
    .st457{fill:#DDD6D5;}
    .st458{fill:#E4DCD7;}
    .st459{fill:#C7959A;}
    .st460{fill:#AC8183;}
    .st461{fill:#C77C79;}
    .st462{fill:#4E3B1D;}
    .st463{fill:#C76F4A;}
    .st464{fill:#B55226;}
    .st465{fill:#B58377;}
    .st466{fill:#B67873;}
    .st467{fill:#AB7D6D;}
    .st468{fill:#EEA7A7;}
    .st469{fill:#202114;}
    .st470{fill:#703716;}
    .st471{fill:#212014;}
    .st472{fill:#C06C68;}
    .st473{fill:#B48383;}
    .st474{fill:#AD776D;}
    .st475{fill:#DCB1C0;}
    .st476{fill:#F3C2D4;}
    .st477{fill:#FBB1CA;}
    .st478{fill:#EDBDCB;}
    .st479{fill:#E697A4;}
    .st480{fill:#DEABB7;}
    .st481{fill:#F4CCDE;}
    .st482{fill:#F6CCDB;}
    .st483{fill:#F8C5D9;}
    .st484{fill:#F37371;}
    .st485{fill:#EC5439;}
    .st486{fill:#CF5F32;}
    .st487{fill:#AD4A2A;}
    .st488{fill:#C18D91;}
    .st489{fill:#F56658;}
    .st490{fill:#3E798C;}
    .st491{fill:#3A7D86;}
    .st492{fill:#C4979C;}
    .st493{fill:#B5797B;}
    .st494{fill:#DC8585;}
    .st495{fill:#E3B6B9;}
    .st496{fill:#B1867C;}
    .st497{fill:#C596A0;}
    .st498{fill:#FBCCEA;}
    .st499{fill:#E0B1C8;}
    .st500{fill:#BBC3C4;}
    .st501{fill:#734B21;}
    .st502{fill:#F4C9BF;}
    .st503{fill:#1C2E19;}
    .st504{fill:#D88B8D;}
    .st505{fill:#E5837A;}
    .st506{fill:#C76153;}
    .st507{fill:#CE5D32;}
    .st508{fill:#C74E29;}
    .st509{fill:#A88191;}
    .st510{fill:#EBD6DA;}
    .st511{fill:#6F3E16;}
    .st512{fill:#EFB5C0;}
    .st513{fill:#3C2810;}
    .st514{fill:#DA96B4;}
    .st515{fill:#AD6854;}
    .st516{fill:#E4A9C6;}
    .st517{fill:#C78492;}
    .st518{fill:#D8777B;}
    .st519{fill:#DBB3BE;}
    .st520{fill:#BE7386;}
    .st521{fill:#F47463;}
    .st522{fill:#192517;}
    .st523{fill:#1B2515;}
    .st524{fill:#3A2E17;}
    .st525{fill:#F16A59;}
    .st526{fill:#1C2514;}
    .st527{fill:#318691;}
    .st528{fill:#EAB5B9;}
    .st529{fill:#ECB2B6;}
    .st530{fill:#C0A9B7;}
    .st531{fill:#E8BBBD;}
    .st532{fill:#EC9BAF;}
    .st533{fill:#F2A7AE;}
    .st534{fill:#BF7237;}
    .st535{fill:#D0532B;}
    .st536{fill:#DBAFC6;}
    .st537{fill:#F9B9C4;}
    .st538{fill:#CF8683;}
    .st539{fill:#B06869;}
    .st540{fill:#E5B8C5;}
    .st541{fill:#CDA69D;}
    .st542{fill:#C26351;}
    .st543{fill:#C76644;}
    .st544{fill:#ED5D32;}
    .st545{fill:#F5C5D7;}
    .st546{fill:#F06338;}
    .st547{fill:#DAAEA0;}
    .st548{fill:#C1BAA7;}
    .st549{fill:#D1A38D;}
    .st550{fill:#E2CECD;}
    .st551{fill:#CA605B;}
    .st552{fill:#F4BAE6;}
    .st553{fill:#DCA9BE;}
    .st554{fill:#F5CBE1;}
    .st555{fill:#E4B3B4;}
    .st556{fill:#DD8293;}
    .st557{fill:#E1CECD;}
    .st558{fill:#A66D61;}
    .st559{fill:#A96A5E;}
    .st560{fill:#965F5C;}
    .st561{fill:#CF6A10;}
    .st562{fill:#DD763E;}
    .st563{fill:#D8ACB0;}
    .st564{fill:#DCB3BF;}
    .st565{fill:#E0B5B9;}
    .st566{fill:#D68179;}
    .st567{fill:#F2BDC4;}
    .st568{fill:#D8ADBB;}
    .st569{fill:#DBB1BD;}
    .st570{fill:#FD8378;}
    .st571{fill:#F4C3DE;}
    .st572{fill:#ECCCDC;}
    .st573{fill:#E3897E;}
    .st574{fill:#76B4B9;}
    .st575{fill:#18A8BC;}
    .st576{fill:#D896BE;}
    .st577{fill:#ECE3F8;}
    .st578{fill:#83503A;}
    .st579{fill:#BD6E59;}
    .st580{fill:#A65E3E;}
    .st581{fill:#182013;}
    .st582{fill:#E7C1C0;}
    .st583{fill:#2A1E0F;}
    .st584{fill:#F1BBB4;}
    .st585{fill:#B38171;}
    .st586{fill:#D3ADAA;}
    .st587{fill:#F19B96;}
    .st588{fill:#E7B8C0;}
    .st589{fill:#FF7067;}
    .st590{fill:#E95E39;}
    .st591{fill:#E39A56;}
    .st592{fill:#BE9483;}
    .st593{fill:#D2D8CB;}
    .st594{fill:#D0ACAC;}
    .st595{fill:#F2E4E9;}
    .st596{fill:#D18084;}
    .st597{fill:#F5B9CD;}
    .st598{fill:#E0BBC0;}
    .st599{fill:#E8C0CA;}
    .st600{fill:#F1B9A8;}
    .st601{fill:#002F17;}
    .st602{fill:#F4AA96;}
    .st603{fill:#F5C5B1;}
    .st604{fill:#EFBBCE;}
    .st605{fill:#C7767F;}
    .st606{fill:#E86236;}
    .st607{fill:#E6B7B9;}
    .st608{fill:#CE8B5E;}
    .st609{fill:#E5B7CE;}
    .st610{fill:#E2B8BC;}
    .st611{fill:#CCA3A3;}
    .st612{fill:#B9978B;}
    .st613{fill:#AB9887;}
    .st614{fill:#F9C8BD;}
    .st615{fill:#74AEBC;}
    .st616{fill:#ADCAE7;}
    .st617{fill:#DAADB8;}
    .st618{fill:#CA9185;}
    .st619{fill:#E79E90;}
    .st620{fill:#AE8236;}
    .st621{fill:#E8DDE1;}
    .st622{fill:#E1DCDE;}
    .st623{fill:#C5C1B6;}
    .st624{fill:#D5D4D3;}
    .st625{fill:#68ADC8;}
    .st626{fill:#F3745C;}
    .st627{fill:#EBB8C1;}
    .st628{fill:#AF937F;}
    .st629{fill:#BC998F;}
    .st630{fill:#BD9583;}
    .st631{fill:#222D19;}
    .st632{fill:#703B17;}
    .st633{fill:#633D1B;}
    .st634{fill:#222214;}
    .st635{fill:#D2A8AC;}
    .st636{fill:#AA886E;}
    .st637{fill:#C15932;}
    .st638{fill:#D35540;}
    .st639{fill:#BC9E94;}
    .st640{fill:#B28D80;}
    .st641{fill:#B76229;}
    .st642{fill:#D89D5E;}
    .st643{fill:#62A9C0;}
    .st644{fill:#E8CDE2;}
    .st645{fill:#F5D4E1;}
    .st646{fill:#112D0D;}
    .st647{fill:#133A0E;}
    .st648{fill:#8F6022;}
    .st649{fill:#152613;}
    .st650{fill:#99502C;}
    .st651{fill:#AA815F;}
    .st652{fill:#398C8A;}
    .st653{fill:#006967;}
    .st654{fill:#C19C7F;}
    .st655{fill:#6B5027;}
    .st656{fill:#4D4115;}
    .st657{fill:#E1B5AC;}
    .st658{fill:#D2A0A1;}
    .st659{fill:#CA9E8E;}
    .st660{fill:#D5A6A4;}
    .st661{fill:#D2A8A7;}
    .st662{fill:#D3A29F;}
    .st663{fill:#DCB1AA;}
    .st664{fill:#35451D;}
    .st665{fill:#1B7267;}
    .st666{fill:#547C84;}
    .st667{fill:#E4BCC1;}
    .st668{fill:#51738C;}
    .st669{fill:#0E7C7D;}
    .st670{fill:#6B7C69;}
    .st671{fill:#D1B3CD;}
    .st672{fill:#C76B62;}
    .st673{fill:#DEA8C6;}
    .st674{fill:#624C35;}
    .st675{fill:#8A5B28;}
    .st676{fill:#533F1E;}
    .st677{fill:#C3877A;}
    .st678{fill:#C88B81;}
    .st679{fill:#474A29;}
    .st680{fill:#BF8F73;}
    .st681{fill:#728B6D;}
    .st682{fill:#3C441F;}
    .st683{fill:#9C7450;}
    .st684{fill:#935138;}
    .st685{fill:#CFA092;}
    .st686{fill:#B69678;}
    .st687{fill:#C99989;}
    .st688{fill:#B25947;}
    .st689{fill:#CEB7BE;}
    .st690{fill:#D6B0C7;}
    .st691{fill:#75815E;}
    .st692{fill:#AB8476;}
    .st693{fill:#B98D74;}
    .st694{fill:#6F3C17;}
    .st695{fill:#0F1E13;}
    .st696{fill:#132319;}
    .st697{fill:#2F2C14;}
    .st698{fill:#61421F;}
    .st699{fill:#BA9486;}
    .st700{fill:#BC8D7D;}
    .st701{fill:#122116;}
    .st702{fill:#132116;}
    .st703{fill:#2C2A13;}
    .st704{fill:#AE8372;}
    .st705{fill:#89391B;}
    .st706{fill:#535021;}
    .st707{fill:#41401A;}
    .st708{fill:#8D6828;}
    .st709{fill:#A76C59;}
    .st710{fill:#775A3A;}
    .st711{fill:#8B6343;}
    .st712{fill:#BB9288;}
    .st713{fill:#8A6848;}
    .st714{fill:#A25046;}
    .st715{fill:#7A5E3E;}
    .st716{fill:#7D5E3F;}
    .st717{fill:#745E3E;}
    .st718{fill:#C4B5C3;}
    .st719{fill:#BB9591;}
    .st720{fill:#5C7251;}
    .st721{fill:#6F7450;}
    .st722{fill:#35371A;}
    .st723{fill:#2F361B;}
    .st724{fill:#7D7D6A;}
    .st725{fill:#6F6443;}
    .st726{fill:#7E6749;}
    .st727{fill:#7C5B39;}
    .st728{fill:#8B8A72;}
    .st729{fill:#A38F87;}
    .st730{fill:#DBAF89;}
    .st731{fill:#D0B69B;}
    .st732{fill:#312715;}
    .st733{fill:#795C39;}
    .st734{fill:#1D2315;}
    .st735{fill:#6A572C;}
    .st736{fill:#2F2B0F;}
    .st737{fill:#302E15;}
    .st738{fill:#4C4E1E;}
    .st739{fill:#918A6F;}
    .st740{fill:#4E3D19;}
    .st741{fill:#847352;}
    .st742{fill:#443B1C;}
    .st743{fill:#6C5B2A;}
    .st744{fill:#3C3E1A;}
    .st745{fill:#4D4C21;}
    .st746{fill:#4C5829;}
    .st747{fill:#152C18;}
    .st748{fill:#152417;}
    .st749{fill:#2D3115;}
    .st750{fill:#092216;}
    .st751{fill:#1C4B2B;}
    .st752{fill:#514A1D;}
    .st753{fill:#645428;}
    .st754{fill:#4F4C2A;}
    .st755{fill:#2D341A;}
    .st756{fill:#8A6426;}
    .st757{fill:#DDA262;}
    .st758{fill:#172917;}
    .st759{fill:#192F1D;}
    .st760{fill:#AD9666;}